$breakpoints: (
  xs: 480px,
  sm: 580px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

$min-width: 320px;

$container-max-width: 1140px;

$primary-color: #125fca;

$text-color: #2a3846;
$link-color: $primary-color;
$link-color-hover: darken($primary-color, 10%);
$bg-color: #f1f2f4;
$header-bg-color: #fff;

$font-size-base: 1rem;
$line-height: 1.625;

$font-family: Arial, Helvetica, sans-serif;
